<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html"><img src="css/images/logo.png"></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about/index.html" class="icon fa-angle-down">About</a>
								<ul>
									<li><a href="about/about-bshi.html">About BSHI</a></li>
									<li><a href="about/faq.html">FAQ</a></li>
									<li><a href="about/testimonials.html">Testimonials</a></li>
								</ul>	
							</li>
							<li>
								<a href="our-products/index.html" class="icon fa-angle-down">Products</a>
<ul>
									<li><a href="our-products/accident-elite.html">Accident Elite  </a></li>
									<li><a href="our-products/cancer-care-elite.html">CancerCare Elite  </a></li>
									<li><a href="our-products/critical-care-elite.html">CriticalCare Elite  </a></li>
									<li><a href="our-products/group-term-life-insurance.html">Group Term Life Insurance</a></li>
									<li><a href="our-products/hospital-confinement.html">Hospital Confinement</a></li>
									<li><a href="our-products/individual-term-life.html">Individual Term Life  </a></li>
									<li><a href="our-products/long-term-disability-insurance.html">Long-Term Disability Insurance</a></li>
									<li><a href="our-products/temporary-disability-insurance.html">Temporary Disability Insurance (TDI)</a></li>
									<li><a href="our-products/voluntary-long-term-disability.html">Voluntary Long-Term Disability<!--and Dismemberment--></a></li>
								</ul>
							</li>
							<li><a href="dental.html">Dental</a></li>
							<li><a href="forms.html">Forms</a></li>
							<li><a href="contact/index.html" class="icon fa-angle-down">Contact</a>
								<ul>
									<a href="contact/request-a-quote.html">Request A Quote</a></li>
								</ul>
							</li>
							<!--<li>
								<a href="#" class="icon fa-angle-down">Page Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option 1</a></li>
											<li><a href="#">Option 2</a></li>
											<li><a href="#">Option 3</a></li>
											<li><a href="#">Option 4</a></li>
										</ul>
									</li>
								</ul>
							</li>-->
							<!--<li><a href="elements.html">Elements</a></li>-->
						</ul>
					</nav>
				</header>